ion-content{

  .black{
      background-color: black;
      background-image: url('/assets/back.png');
      position: absolute;
      width: 100vw;
      height: 100vh;
      .logo{
          background-image: url('/assets/logo.png');
          background-repeat: no-repeat;
          padding: 20%;
          background-position: center;
          background-size: 70px;
      }
      .slide{
        margin-left: 10px;
        width: 90%;
        border-radius: 20px;
      }
      .slide input{
        width: 90%;
        height: 40%;
      }
      .slide2{
        margin-left: 5%;
        width: 90%;
      }
      .slide2 input{
        padding: 10px;
        width: 30%;
        height: 30%;
      }
      .imagem input{
        max-width: 50%;
        padding: 5px;
        border-radius: 20px;
      }
    }
  }
