<ion-content>
  <div class="black">
    <div class="logo">
    </div>
    <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
    <ion-label class="texte">Recomendados</ion-label>
    <div class="slide">
      <ion-slides>
        <ion-slide>
          <input type="image" src="/assets/slide.jpg" (click)="presentAlert()"/>
        </ion-slide>

        <ion-slide>
          <input type="image" src="/assets/slide.jpg" (click)="presentAlert()"/>
        </ion-slide>
        <ion-slide>
          <input type="image" src="/assets/slide.jpg" (click)="presentAlert()"/>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="slide2">
      <ion-slides>
        <ion-slide>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
        </ion-slide>
        <ion-slide>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
        </ion-slide>
        <ion-slide>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
          <input type="image" src="/assets/hamburguer.jpg" (click)="presentAlert()"/>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-grid>
      <div class="imagem">
        <input type="image" src="/assets/promocao1.jpg" (click)="presentAlert()"/>
        <input type="image" src="/assets/promocao2.jpg" (click)="presentAlert()"/>
        <input type="image" src="/assets/promocao2.jpg" (click)="presentAlert()"/>
        <input type="image" src="/assets/promocao1.jpg" (click)="presentAlert()"/>
        <input type="image" src="/assets/promocao1.jpg" (click)="presentAlert()"/>
        <input type="image" src="/assets/promocao2.jpg" (click)="presentAlert()"/>
      </div>
    </ion-grid>



  </div>

</ion-content>
