<ion-content>
  <div class="black">
    <div class="logo">
    </div>
    <div class="box">
      <img src="/assets/blank_avatar.jpeg" alt=""/>
      <div class="infoUse">
        <label>Nome</label>
        <br>
        <label>04/10/2020 às 03h33</label>
        <br>
        <label>R$ 78,90</label>
      </div>
      <div class="pedido">
        <label>1 X-Tudão</label>
        <br>
        <label>1 Coca-Cola 1L</label>
        <br>
        <label>3 Hamburguer</label>
        <br>
        <label>1 hot-dog</label>
        <button (click)="presentAlert()">Acompanhar</button>
      </div>

    </div>
  </div>
</ion-content>
